html {
    background: black;
    color: white;
}


.btn-container {
    position: relative;
    left: 400px;
    top: 40vh;

}

.btn {
    height: 66px;
    width: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    border-radius: 9px;
    margin-right: 8px;
}

.clicked {
    border: red 0.5rem solid;
    box-shadow: 0 0 30px yellow;
}

.player {
    position: relative;
    top: 200px; 
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;;
}


.compButton {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 66px;
    width: 200px;
    font-size: 15px;
    border-radius: 9px;
    left: 600px; /* blaze it*/
    top: 80px;
    position: relative
}